$main_color: darken(orange, 40%);
$menu_bg_color: #4a4a4a;
$foot_bg_color: lighten(#4a4a4a, 65%);
$selected_color: orange;
$head_color: darken(orange, 5%);
$jumbotron_color: lighten($main_color, 20%);

.navbar {
  margin: 0;
  background-color: lighten($main_color, 10%);
  border: 0;
  li a:link, a:link {
    color: darken(orange, 10%);
  }
  .navbar-inverse > .caret {
    border-top-color: darken(orange, 10%);
    border-bottom-color: darken(orange, 10%);
  }
}
.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: darken(orange, 10%);
  border-bottom-color: darken(orange, 10%);
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  background-color: lighten($main_color, 25%);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: lighten($main_color, 25%);
}

.jumbotron {
  h1 {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
  }
  background: $jumbotron_color url('../img/head.jpg');
  background-position: 50% -150px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  margin: 0;
}

.caption {
  background-color: $jumbotron_color;
  color: $jumbotron_color;
  padding: .2em;
}

.container {
  @media (min-width: 1024px) { 
    width: 98%;
  }

  @media (min-width: 1200px) { 
    width: 98%;
  }

  padding: 0;
  //border: 1px solid #ffaaaa;
  min-height: 20em;

  .menu {
    li {
              transition: border .6s ease;
         -moz-transition: border .6s ease;
      -webkit-transition: border .6s ease;
      padding: .5em .5em .5em 1.5em;
      margin: .2em 1em 0 -1em;
      border-left: 5px solid #ffffff;
    }
    li:hover {
      background-color: lighten($menu_bg_color, 60%);
      cursor: pointer;
    }
    .active {
      border-left: 5px solid $selected_color;
      background-color: lighten($menu_bg_color, 66%);
    }
  }

  .main {
    h3 {
      color: $head_color;
    }
    .gcontainer {
      .item {
        display: none;
        transition: apacity 1s ease;
        margin: 0px;
        padding: 10px;
        min-height: 240px;
        border: 3px solid #ffffff;
        background: lighten($menu_bg_color, 65%);
      }
      .s1 {
        min-width: 240px;
      }
      .s2 {
        min-width: 480px;
      }
      margin-bottom: 7em;
      margin-left: 1em;
    }
  }
}

.footer {
  clear: both;
  margin-top: 5em;
  background-color: $foot_bg_color;
  min-height: 10em;
  border-top: 1px solid darken($foot_bg_color, 10%);
  color: darken($foot_bg_color, 25%);
  padding: 1em 3em;
}
