.navbar {
  margin: 0;
  background-color: #664200;
  border: 0; }
  .navbar a:link, .navbar a:visited {
    color: #ffffff; }
  .navbar li a:link, .navbar li a:visited {
    color: #ffb733; }
  .navbar .navbar-inverse > .caret {
    border-top-color: #cc8400;
    border-bottom-color: #cc8400; }

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #cc8400;
  border-bottom-color: #cc8400; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #e69500; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #b37300; }

.jumbotron {
  background: #996300 url("../img/head.jpg");
  background-position: 50% -150px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  margin: 0; }
  .jumbotron h1 {
    color: #ffffff;
    text-shadow: 2px 2px #000000; }

.caption {
  background-color: #996300;
  color: #996300;
  padding: .2em; }

body > .caption {
  margin-bottom: 2.5em; }

.container {
  padding: 0;
  min-height: 20em; }
  @media (min-width: 1024px) {
    .container {
      width: 98%; } }
  @media (min-width: 1200px) {
    .container {
      width: 98%; } }
  .container .menu li {
    transition: border .6s ease;
    -moz-transition: border .6s ease;
    -webkit-transition: border .6s ease;
    padding: .5em .5em .5em 1.5em;
    margin: .2em 1em 0 -1em;
    border-left: 5px solid #ffffff; }
  .container .menu li:hover {
    background-color: #e3e3e3;
    cursor: pointer; }
  .container .menu .active {
    font-weight: bold;
    border-left: 5px solid orange;
    background-color: #f2f2f2; }
  .container .main h3 {
    color: #e69500;
    margin-bottom: 1em; }
  .container .main .gcontainer {
    margin-bottom: 7em;
    margin-left: 1em; }
    .container .main .gcontainer .item {
      display: none;
      min-height: 240px;
      border: 3px solid #ffffff;
      background: #f0f0f0;
      color: #d6d6d6; }
      .container .main .gcontainer .item div {
        display: none;
        padding: 10px;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 234px;
        cursor: pointer; }
    .container .main .gcontainer .s1 {
      min-width: 240px;
      background-position: 50% 25%;
      background-size: cover;
      background-repeat: no-repeat; }
    .container .main .gcontainer .s2 {
      min-width: 480px;
      background-position: 50% 25%;
      background-size: cover;
      background-repeat: no-repeat; }

.footer {
  clear: both;
  margin-top: 5em;
  background-color: #f0f0f0;
  min-height: 10em;
  border-top: 1px solid #d6d6d6;
  color: #b0b0b0;
  padding: 1em 3em; }
